{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "comma-dangle": "off",
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": "off",
    "object-curly-spacing": "off",
    "object-curly-newline": "off",
    "object-shorthand": "off",
    "lines-between-class-members": "off",
    "padded-blocks": "off",
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "array-bracket-spacing": "off",
    "no-process-exit": "off",
    "no-useless-catch": "off",
    "no-unsafe-optional-chaining": "off",
    "operator-linebreak": "off",
    "complexity": "off",
    "max-depth": "off",
    "function-call-argument-newline": "off",
    "prefer-destructuring": "off",
    "prefer-arrow-callback": "off",
    "valid-jsdoc": "off",
    "padding-line-between-statements": "off",
    "n/no-process-exit": "off",
    "import/namespace": "off",
    "import/no-named-as-default-member": "off",
    "unicorn/no-process-exit": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-optional-catch-binding": "off",
    "unicorn/prefer-native-coercion-functions": "off",
    "unicorn/prefer-at": "off",
    "unicorn/prefer-number-properties": "off",
    "unicorn/prefer-string-slice": "off",
    "unicorn/prefer-string-replace-all": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-for-loop": "off",
    "unicorn/no-await-expression-member": "off",
    "unicorn/switch-case-braces": "off",
    "unicorn/import-style": "off",
    "unicorn/consistent-function-scoping": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-require-imports": "off",
    "perfectionist/sort-imports": "off",
    "perfectionist/sort-classes": "off",
    "perfectionist/sort-objects": "off",
    "perfectionist/sort-union-types": "off",
    "perfectionist/sort-interfaces": "off",
    "perfectionist/sort-named-imports": "off",
    "perfectionist/sort-named-exports": "off",
    "perfectionist/sort-object-types": "off"
  }
}
